body{
	 margin: 0;
	 padding: 0;
	 background-color: #f7f5f5;
}
header{
	display:flex;
	justify-content:center;
	height:120px;
}
.container{
	display:flex;
	justify-content:space-between;
	width:990px;
}
.logo{
	display:flex;
	align-items:center;
	margin-left: 6px;
}
header img{
/*	width:70;
	height:70;
*/} 
.menu{
	display:flex;
	align-items:center;
}
nav ul,
nav li{
	list-style:none;
	margin:0;
	padding:0;
}
nav ul{
	display:flex;
}
nav a {
	display:block;
	padding: 20px;
	text-decoration:none;
	text-transform:uppercase;
	color:#000000;
	font-family:Arial;
}
nav .active a,
nav a:hover{
	font-size:20px;
	background-color:#d7e903;
	color:#000000;
}
#banner{
	display:flex;
	justify-content:center;
	background-image:url('../img/banner1.jpg');
	background-position:center;
	background-size:cover;
	height:600px;
}
.column{
	flex-direction:column;
}
.banner_headline{
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.banner_headline h1{
	color:#ffffff;
	font-size: 56px;
	text-shadow:5px 8px 5px #11110b;
	margin:0;
	padding:0;
	max-width:450px;
}
.banner_headline h2{
	color:#FFFFFF;
	font-size:25px;
	text-shadow:5px 8px 5px #010101;
	margin:0;
	padding:0;
	max-width:450px;
	margin-top: 20px;
}
.banner_option{
	height:210px;
	display:flex;
}
.banner1,
.banner2,
.banner3{
	flex:1;
	color:#000000;
	padding: 20px;
}
.banner1{
	background-color: #d7e903;
}
.banner2{
	background-color: #c1d104;
}
.banner3{
	background-color: #a7b407;
}
.banner_title{
	font-size:25px;
	margin-top: 15;
	border-bottom: 1px solid #000000;
	margin-bottom:15px;
}
.banner_desc{
	font-size:19px;
	margin-bottom: 15px;
}
.banner_option a{
	display:inline-block;
	font-size:13px;
	border:1px solid #000000;
	padding:6px;
	color:#000000;
	text-decoration:; 
}
#geral{
	display:flex;
	justify-content:center;
}
#geral section{
	flex:2;
}
#geral aside{
	flex:1;
}
.widget_title{
	margin-top:30px;
	margin-bottom:20px;
}
.widget_title_text{
	color:#000000;
	font-size:22px; 
	font-weight: bold;
}
.widget_title_bar{
	width:60px;
	height:3px;
	background-color:#d7e903;
}
article .news_data{
	display: flex;
}
article .news_post_at{
	background-color:#d7e903;
	padding:10px;
	color: #000000;
	font-size: 12px;
	margin-right:2px;
}
article .news_coments{
	background-color:#c1d104;
	padding:10px;
	color: #000000;
	font-size: 12px;
}
article .news_thumb{
	margin-top:30px;
}
article  .news_thumb img{
	width:100%;
	height:auto;
}
article .news_title{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 25px;
	color: #000000;
}
article .news_resume{
	color: #000000;
	line-height:15px;
	font-size:15px;
}
.flex{
	display:flex;
	flex-wrap:wrap;
}
article .news_thumb{
	flex:1;
}
article{
	flex:1;
	margin-right: 20px;
	min-width:300px;
}
.cont{
	width:100px;
	display:flex;
	padding: 20px;
	border-width:30px solid #a7b407;
}
	.widget_resume{ 
    margin-left: 20px;
    font-size: 24px;
}
.outros_servisos{
	flex:1;
}
article .outros_servisos img{
	width: 100px;
	height: 120px;
}
footer{
	display:flex;
	justify-content:center;
	background-color: #000000;
	color:#ffffff;
}
.footer_menu{
	display:flex;
}
.fm_1,.fm_2,.fm_3{
	flex:1;
	color:#ffffff;
	padding: 20px;
}
.fm_1{
	background-color: #d7e903;
}
.fm_2{
	background-color: #c1d104;
}
.fm_3{
	background-color: #a7b407;
}
.footer_area{    
	display:flex;
	color:#ffffff;
}
.footer_areaitem{
	flex:1;
}
.flexcolumn{
	flex-direction:column;
}
footer .widget_title_text{
	color: #ffffff;
}
.footer_copy{
	font-size:16px;
	color:#4e4b4b;
	border-top:6px solid #c1d104;
	display:flex;
	align-items: center;
}
.img_logcopy{ 
	flex:1;
	align-items: center;
}
footer .footer_areaitem a{
	text-decoration:none;
	font-size:20px;
	color:#ffffff;
	padding:15px;
}
.footer_img{
	height: 157px;
	width: 180px;
}
.menumobile{
	display:none;
	width:40px;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 25px;
}
.mm_line{
	height:3px;
	background-color:#c1d104;
}

@media only screen and (max-width: 600px){
	#banner{
		height: 397px;
	} 
	.banner_headline{
		padding: 20px;
	}
	.banner_headline h1{
		font-size:40px;s
	}
	.banner_headline h2{
		font-size:25px;
	}
	.banner_option{
		height: auto;
		flex-direction:column;
		margin-top: 132px;

	}
    .banner_options {
        margin-top: 50px;
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    #geral section {
        margin-top:442px;
        padding: 25px;
    }
    #geral aside{
    padding: 25px;
    }
    #geral .widget_title_text{
    	margin-top: 75px;
    }
   .footer_menu{
   	flex-direction:column;
   }
   .footer_area{
   	flex-direction:column;
   	padding: 25px;
   }
   footer .footer_text{
  margin-left:25px;
   }
   header .container{
   	flex-direction:row;
   }
   nav ul{
   	flex-direction:column;
   	display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffffff;

   }
   header{
   	height: auto;
   }
   .logo{
   	padding: 20px;
   }
   .menumobile{
   	display: flex;
   	flex-direction:column;
   	justify-content:space-around;
   }

}
